@font-face {
    font-family: Muli-Black;
    src: url(../css/fonts/Muli-Black.ttf);
}
@font-face {
    font-family: Muli-BlackItalic;
    src: url(../css/fonts/Muli-BlackItalic.ttf);
}
@font-face {
    font-family: Muli-Bold;
    src: url(../css/fonts/Muli-Bold.ttf);
}
@font-face {
    font-family: Muli-BoldItalic;
    src: url(../css/fonts/Muli-BoldItalic.ttf);
}
@font-face {
    font-family: Muli-ExtraBold;
    src: url(../css/fonts/Muli-ExtraBold.ttf);
}
@font-face {
    font-family: Muli-ExtraBoldItalic;
    src: url(../css/fonts/Muli-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Muli-ExtraLight;
    src: url(../css/fonts/Muli-ExtraLight.ttf);
}
@font-face {
    font-family: Muli-ExtraLightItalic;
    src: url(../css/fonts/Muli-ExtraLightItalic.ttf);
}
@font-face {
    font-family: Muli-Italic;
    src: url(../css/fonts/Muli-Italic.ttf);
}
@font-face {
    font-family: Muli-Light;
    src: url(../css/fonts/Muli-Light.ttf);
}
@font-face {
    font-family: Muli-LightItalic;
    src: url(../css/fonts/Muli-LightItalic.ttf);
}
@font-face {
    font-family: Muli-Medium;
    src: url(../css/fonts/Muli-Medium.ttf);
}
@font-face {
    font-family: Muli-MediumItalic;
    src: url(../css/fonts/Muli-MediumItalic.ttf);
}
@font-face {
    font-family: Muli-Regular;
    src: url(../css/fonts/Muli-Regular.ttf);
}
@font-face {
    font-family: Muli-SemiBold;
    src: url(../css/fonts/Muli-SemiBold.ttf);
}
@font-face {
    font-family: Muli-SemiBoldItalic;
    src: url(../css/fonts/Muli-SemiBoldItalic.ttf);
}