@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1366px) {

}
@media screen and (max-width: 1024px) {
    .wrapper .content-news .post_content .post_title .xanhlobox .btn-k button {
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .wrapper .content-news .post_content .post_title .xanhlobox .btn-k button {
        font-size: 9px;
    }
}
@media screen and (max-width: 575px){

}
@media screen and (max-width: 480px) {
    .wrapper .content-news .post_content .post_title h1 {
        font-size: 26px;
    }
    .post_content .post_title .form-intro {
        padding: 10px;
    }

}
@media screen and (max-width: 375px){

}
@media screen and (max-width: 360px){

}
@media screen and (max-width: 320px){

}